<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Kvalita přehrávání">
    <setting id="tv_addon" type="bool" label="TV archiv" default="true" visible="false"/>
        <setting id="hd_enabled" type="bool" label="povolit HD" default="true" />
    </category>
    <category label="Můj PLAY">
        <setting id="account_enabled" type="bool" label="povolit přihlášení" default="false" />
        <setting id="account_email" type="text" label="e-mail" default="" />
        <setting id="account_password" type="text" option="hidden" label="heslo" default="" />
    </category>
</settings>
