<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<setting label="30000" id="video-listing" type="enum" lvalues="30001|30002|30003|30004" default="0" />
	<setting label="30006" id="bonus-video" type="bool" default="true" />
	<setting label="TV archiv" id="tv_addon" type="bool" default="true" visible="false"/>
	
	<!-- archivCZSK specificke nastavenie -->
   <category label="Prehrávanie">
   		<setting id="rtmp_seek_fix" type="bool" label="Opraviť RTMP pretáčanie" default="true"/>
   </category>
</settings>
