<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting label="Jmeno" id="username" type="text" default="" />
    <setting label="Heslo" id="password" type="text" default="" option="true" />
    <setting label="PIN" id="pin" type="text" default="" />
    <setting label="SessionId" id="sessionid" type="text" default="" visible="false" />
    <setting label="SerialId" id="serialid" type="text" default="" visible="false" />
</settings>
