<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<setting label="Prihlasovacie meno" id="username" type="text" default="" />
	<setting label="Prihlasovcie heslo" id="password" type="text" default="" />
	<setting label="ID zariadenia" id="device_id" type="text" default="" visible="false" />
	<setting label="Povoliť h265 kodek" id="enable_h265" type="bool" default="true" />
	<setting label="Povoliť programy pre dospelých" id="enable_adult" type="bool" default="true" />
	<setting label="Povoliť špeciálnu sekciu hlavnej ponuke" id="enable_extra" type="bool" default="false" />
	<setting label="Prehrávač použitý pre userbouquet" id="player_name" type="enum" lvalues="Predvolený|gstplayer|exteplayer3|mix" default="0"/>
	<setting label="Zobraziť v zozname TV doplnkov" id="tv_addon" type="bool" default="true"/>
</settings>
