<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
   <setting id="kvalita" type="labelenum" label="Preferovaná kvalita" values="LQ|HQ|HD" default="HD" />
   <setting id="proxy_use" type="bool" label="Použít SOCKS proxy" default="false" />
   <setting id="proxy_ip" type="ipaddress" label="IP adresa" default="127.0.0.1" />
   <setting id="proxy_port" type="number" label="Port" default="1080" />
   <setting id="tv_addon" type="bool" label="TV archiv" default="true" visible="false"/>
   
   <category label="Prehrávanie">
   		<setting id="rtmp_seek_fix" type="bool" label="Opraviť RTMP pretáčanie" default="true"/>
   </category>
</settings>