<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting label="30101" id="wsuser" type="text" default="" />
    <setting label="30102" id="wspass" type="text" default="" option="true" />
    <setting label="VIP days" id="wsvipdays" type="text" default="0" />
    <setting label="Token" id="token" type="text" default="" visible="false" />
</settings>
