<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<setting label="Meno" id="username" type="text" default="" />
	<setting label="Heslo" id="password" type="text" default="" option="true" />
	<setting label="zariadenie" id="devhash" type="text" default="" />
	<setting id="tv_addon" type="bool" label="TV archiv" default="true" visible="false"/>
	<category label="Prehrávanie">
   		<setting id="rtmp_seek_fix" type="bool" label="Opraviť RTMP pretáčanie" default="false"/>
   </category>
</settings>
